name: CI Smoke

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  smoke:
    runs-on: self-hosted
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Show Go version
        run: go version

      - name: Go test
        run: go test ./...

      - name: Go build
        run: go build ./...
